<h1>Your Private Stories</h1>

<!-- ********* <3 ********* NINE ********* <3 ********* -->
<div class="row">
<ul class="nine">
{{#each stories}}

  <li class="transition">

    <div class="wrapper">

      {{#if user}}
          {{{editIcon user.id ../user.id id}}}
      {{/if}}

      <span style="background: #375366" class="transition">
          <a href="/stories/user/{{user.id}}"><img class="transition" src={{user.image}}></a>
      <p class="transition" style="padding-left:8px;padding-top:440px;color: white">{{user.firstName}}</p>
      </span>

      <h3 style="color:#375366" class="transition">{{title}}<em>{{{stripTags (truncate body 420)}}}</em></h3>
      <div class="trigger"></div>
      <ul class="social transition">
        <a href="/stories/show/{{id}}" class="round-btn"><i class="fa fa-long-arrow-right"></i></a>
      </ul>
    </div>
  </li>

{{else}}
<p>No private stories yet. Why don't you add one.</p>

{{/each}}
</ul>
</div>
